/index.php
/public/index.php
.env

# Ignore npm debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE directories and files
/.idea
/.vscode
/.phpstorm.meta.php

# Ignore PHPUnit result cache
.phpunit.result.cache

# Ignore Linux and Windows system files
*.swp
*~
*.idea
*.iml
*.sublime-project
*.sublime-workspace